# General Files
*~
*.swp
*.tmp
*.bak
*.old
*.orig
*.rej
*.log
*.trace

# Prerequisites
*.d

# Compiled Object Files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic Libraries
*.so
*.dylib
*.dll

# Compiled Static Libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JUCE Specific
*.jucer
Builds/
JuceLibraryCode/
*.zip
*.tar.gz
*.dmg

# macOS Specific
.DS_Store
.AppleDouble
.LSOverride
Icon?
__MACOSX/
*.icloud
*.localized
.Trashes
*.plist

# Windows Specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Visual Studio Specific
.vs/
*.vcxproj*
*.pdb
*.idb
*.ipch
*.suo
*.sdf
*.tlog
*.opensdf
*.VC.opendb
*.VC.db

# JetBrains IDEs (CLion, IntelliJ IDEA, etc.)
.idea/
*.iml
cmake-build-*

# CMake Specific
CMakeCache.txt
CMakeFiles/
Testing/
Makefile
cmake_install.cmake
